.cube-section {
    width: 100%;
    height: 100vh;
    display: grid;
    gap: 1.2rem;
    grid-template:
        '. . . .' 1fr
        '. title cube .' min-content
        '. text cube .' auto
        '. . . .' 1fr
        / 1fr 1.2fr 1.2fr 1fr;
    /* cursor: url('images/cursor.png'), auto; */
    background: linear-gradient(var(--clr-cover-shadow), var(--clr-section-bg));

    @media (width < 1080px) {
        gap: 2rem;
        grid-template:
        '. . . .' 1fr
        '. title title .' min-content
        '. text cube .' auto
        '. . . .' 1fr
        / 1fr minmax(15rem, 1.2fr) minmax(10rem, 1.2fr) 1fr;
    }
}

.cube-section h1 {
    grid-area: title;
    
    font-size: clamp(2rem, 0.5rem + 4vw, 2.5rem);
    color: var(--clr-cube);
    text-wrap: balance;
    transition: 1s;

    translate: -10%;
    opacity: 0;

    &.show {
        translate: 0;
        opacity: 1;
    }
}

.cube-section p {
    grid-area: text;
    
    color: var(--clr-cube);
    opacity: .9;
    font-size: 1rem;
    transition: 1s;
    
    translate: -10%;
    opacity: 0;
    
    &.show {
        translate: 0;
        opacity: 1;
    }
}

.cube-section .cube-wrap {
    grid-area: cube;

    display: flex;
    justify-content: center;
    align-items: center;
}