.links {
    --width: calc(15rem + 3px);

    position: absolute;
    top: 0;
    left: 0;

    width: var(--width);
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    translate: calc(3rem - var(--width));
    transition: translate .2s ease-out;
    
    z-index: 20;

    opacity: 1;
    pointer-events: all;

    &.hide {
        pointer-events: none;
        & .indicator {
            opacity: 0;
        }
    }

    & .indicator {
        position: absolute;
        top: 50%;
        left: 100%;
    
        width: .3rem;
        height: 16rem;
    
        background-color: var(--clr-btn);
        border-radius: .5rem;
        opacity: .5;
    
        translate: -2rem -50%;
        transition: translate .1s, opacity .4s ease-in;

        display: flex;
        align-items: center;

        & i {
            color: var(--clr-btn);
            position: relative;
            font-size: 1.2rem;
            left: 1rem;
        }
    }
    
    & .filler {
        position: absolute;
        inset: 0;
    
        width: inherit;
        height: inherit;
    }
    
    &:hover {
        translate: 0;

        & .indicator {
            translate: -3rem -50%;
            opacity: 0;
        }

        & .filler {
            background-color: var(--clr-link-filler);
            border-right: 1px solid var(--clr-link-filler-border);
            backdrop-filter: blur(1rem);
            z-index: 9;
        }
    }
}

.sub-links {
    position: absolute;
    align-self: start;
    top: 0;
    left: 0;

    width: var(--width);
    height: 100vh;
    padding: 1rem 0;
    padding-top: var(--padding, 1rem);
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
    translate: calc(var(--width) * -1);
    transition: translate .2s .1s ease-out;
    
    z-index: 8;
    
    .link-header:hover + &,
    &:hover {
        translate: var(--width);
    }

    & .filler {
        width: calc(var(--width) * 2);
        height: inherit;
        position: absolute;
        left: -100%;
        background-color: var(--clr-link-filler);
        border-right: 1px solid var(--clr-link-filler-border);
        backdrop-filter: blur(1rem);
        z-index: 9;
    }

    & a {
        position: relative;
        width: 13rem;
        height: 3.4rem;
        padding: .8rem;
        padding-left: 2rem;
    
        color: var(--clr-secondary);
        font-size: 1.2rem;
        font-weight: bold;
        transition: .2s;
        z-index: 10;
    
        &:hover {
            text-decoration: none;
            background-color: var(--clr-link-filler);
            color: var(--clr-title-3);
        }
    }
}

.link-header {
    width: 13.5rem;
    height: 3.4rem;
    padding: .8rem;
    border-radius: .2rem;

    color: var(--clr-secondary);
    transition: .4s;
    z-index: 10;

    &::before {
        content: '';
        position: absolute;
        background: 
            linear-gradient(
                to right, 
                var(--clr-link-grad-1), 
                var(--clr-link-grad-2)
            );
        top: 0;
        left: 0;
        opacity: 0;
        transition: .3s;
        width: 13.5rem;
        height: 3.4rem;
    }

    &:hover,
    &:has(+.sub-links:hover) {
        translate: 1.2rem 0;
        scale: 1.05;

        &::before {
            scale: 1.2 1;
            translate: -.7rem 0;
            opacity: .3;
        } 
    }    

    .sub-links & {
        transition: .2s;
    }
    
    & i {
        position: relative;
        left: 1rem;
        width: 1rem;    
        color: var(--clr-secondary);
        z-index: 2;
    }

    & a {
        transition: 0s;
        position: relative;
        left: 2.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--clr-secondary);
        z-index: 2;
    } 
}