:root {
    /*main color*/
    --clr-primary:
    hsl(275, 72%, 68%);
    --clr-primary-dark:
    hsl(275, 55%, 55%);
    --clr-secondary:
    hsl(249, 25%, 37%); /*primary - 26*/
    --clr-accent: 
    #fff;

    /*cover*/
    --clr-cover-grad-1:
    hsl(314, 36%, 83%);
    --clr-cover-grad-2:
    hsl(269, 22%, 55%); 
    --clr-cover-grad-3:
    hsl(249, 25%, 37%);
    --clr-cover-grad-4:
    hsl(246, 40%, 19%);

    --clr-sky-1:
    hsl(249, 25%, 37%);
    --clr-sky-2:
    hsl(269, 22%, 55%); 
    --clr-sky-3:
    hsl(316, 42%, 82%); 
    --clr-sky-4:
    hsl(185, 38%, 94%);

    --clr-title-1:
    hsl(275, 72%, 68%);
    --clr-title-2:
    hsl(275, 55%, 55%);
    --clr-title-3:
    hsl(271, 76%, 53%); /*primary - 4*/
    --clr-title-shadow:
    #fff3;

    --clr-search-button:
    hsla(314, 36%, 83%, .5);
    --clr-search-button-hover:
    hsla(314, 36%, 83%, 1);
    --clr-search-shadow: 
    hsla(240, 18%, 33%, 0.2);
    --clr-cover-shadow: 
    hsl(240, 26%, 19%);
    --clr-section-bg:
    hsl(249, 50%, 60%);

    --clr-link-filler:
    #fff6;
    --clr-link-filler-border:
    #fff7;
    --clr-link-grad-1:
    hsl(257, 67%, 61%);
    --clr-link-grad-2:
    hsl(275, 100%, 85%);

    /*ball section*/
    --clr-ball: 
    #fff;
    --clr-box-pressed:
    hsl(275, 100%, 85%);
    --clr-box-top:
    hsl(275, 72%, 68%);
    --clr-box-side: 
    hsl(269, 67%, 61%); /*primary - 6*/
    --clr-box-side-shadow: 
    hsl(257, 67%, 61%); /*primary - 18*/

    /*cube section*/
    --clr-cube: 
    #fff;

    /*button*/
    --clr-btn: 
    #fff;

    --from-brightness: .8;
    --to-brightness: 1;
    --hue: 0deg;
}

:root:has(#red:checked) {
    /*main color*/
    --clr-primary:
    hsl(0, 72%, 68%);
    --clr-primary-dark:
    hsl(0, 55%, 55%);
    --clr-secondary:
    hsl(334, 25%, 37%); /*primary - 26*/
    --clr-accent: 
    #fff;

    /*cover*/
    --clr-cover-grad-1:
    hsl(22, 41%, 82%);
    --clr-cover-grad-2:
    hsl(355, 40%, 55%); 
    --clr-cover-grad-3:
    hsl(335, 40%, 37%);
    --clr-cover-grad-4:
    hsl(330, 40%, 19%);

    --clr-sky-1:
    hsl(335, 25%, 37%);
    --clr-sky-2:
    hsl(355, 22%, 55%); 
    --clr-sky-3:
    hsl(22, 41%, 82%); 
    --clr-sky-4:
    hsl(185, 38%, 94%);

    --clr-title-1:
    hsl(0, 72%, 68%);
    --clr-title-2:
    hsl(0, 55%, 55%);
    --clr-title-3:
    hsl(356, 76%, 53%); /*primary - 4*/
    --clr-title-shadow:
    #fff3;

    --clr-search-button:
    hsla(39, 36%, 83%, .5);
    --clr-search-button-hover:
    hsla(39, 36%, 83%, 1);
    --clr-search-shadow: 
    hsla(325, 18%, 33%, 0.2);
    --clr-cover-shadow: 
    hsl(0, 27%, 29%);
    --clr-section-bg:
    hsl(19, 50%, 60%);

    --clr-link-filler:
    #fff6;
    --clr-link-filler-border:
    #fff7;
    --clr-link-grad-1:
    hsl(342, 67%, 61%);
    --clr-link-grad-2:
    hsl(0, 100%, 85%);

    /*ball section*/
    --clr-ball: 
    #fff;
    --clr-box-pressed:
    hsl(0, 100%, 85%);
    --clr-box-top:
    hsl(0, 72%, 68%);
    --clr-box-side: 
    hsl(354, 67%, 61%); /*primary - 6*/
    --clr-box-side-shadow: 
    hsl(0, 67%, 61%); /*primary - 18*/

    /*cube section*/
    --clr-cube: 
    #fff;

    /*button*/
    --clr-btn: 
    #fff;

    --from-brightness: .8;
    --to-brightness: 1;
    --hue: 95deg;
}

:root:has(#green:checked) {
    /*main color*/
    --clr-primary:
    hsl(153, 52%, 83%);
    --clr-primary-dark:
    hsl(163, 40%, 73%);
    --clr-secondary:
    hsl(158, 31%, 37%); /*primary - 26*/
    --clr-accent: 
    #DEF5E5;

    /*cover*/
    --clr-cover-grad-1:
    hsl(147, 22%, 55%); 
    --clr-cover-grad-2:
    hsl(147, 22%, 55%); 
    --clr-cover-grad-3:
    hsl(128, 25%, 37%);
    --clr-cover-grad-4:
    hsl(124, 40%, 19%);

    --clr-sky-1:
    hsl(128, 25%, 37%);
    --clr-sky-2:
    hsl(147, 22%, 55%); 
    --clr-sky-3:
    hsl(172, 36%, 83%); 
    --clr-sky-4:
    hsl(185, 38%, 94%);

    --clr-title-1:
    hsl(153, 54%, 70%);
    --clr-title-2:
    hsl(163, 41%, 58%);
    --clr-title-3:
    hsl(127, 24%, 47%); /*primary - 4*/
    --clr-title-shadow:
    #fff3;

    --clr-search-button:
    hsla(100, 36%, 83%, .5);
    --clr-search-button-hover:
    hsla(100, 36%, 83%, 1);
    --clr-search-shadow: 
    hsla(240, 18%, 33%, 0.2);
    --clr-cover-shadow: 
    hsl(151, 26%, 19%);
    --clr-section-bg:
    hsl(163, 35%, 50%);

    --clr-link-filler:
    #fff6;
    --clr-link-filler-border:
    #fff7;
    --clr-link-grad-1:
    hsl(130, 67%, 61%);
    --clr-link-grad-2:
    hsl(153, 100%, 85%);

    /*ball section*/
    --clr-ball: 
    #fff;
    --clr-box-pressed:
    #DEF5E5;
    --clr-box-top:
    #9ED5C5;
    --clr-box-side: 
    #DEF5E5; /*primary - 6*/
    --clr-box-side-shadow: 
    #BCEAD5; /*primary - 18*/

    /*cube section*/
    --clr-cube: 
    #fff;

    /*button*/
    --clr-btn: 
    #fff;

    --from-brightness: .8;
    --to-brightness: 1;
    --hue: -125deg;
}

:root:has(#blue:checked) {
    /*main color*/
    --clr-primary:
    hsl(210, 72%, 68%);
    --clr-primary-dark:
    hsl(210, 55%, 55%);
    --clr-secondary:
    hsl(219, 25%, 42%); /*primary - 26*/
    --clr-accent: 
    #fff;

    /*cover*/
    --clr-cover-grad-1:
    hsl(249, 36%, 83%);
    --clr-cover-grad-2:
    hsl(229, 22%, 55%); 
    --clr-cover-grad-3:
    hsl(232, 25%, 37%);
    --clr-cover-grad-4:
    hsl(234, 40%, 19%);

    --clr-sky-1:
    hsl(218, 25%, 37%);
    --clr-sky-2:
    hsl(235, 22%, 55%); 
    --clr-sky-3:
    hsl(251, 42%, 82%); 
    --clr-sky-4:
    hsl(185, 40%, 94%);

    --clr-title-1:
    hsl(210, 72%, 68%);
    --clr-title-2:
    hsl(210, 55%, 55%);
    --clr-title-3:
    hsl(206, 76%, 53%); 
    --clr-title-shadow:
    #fff3;

    --clr-search-button:
    hsla(246, 36%, 83%, 0.5);
    --clr-search-button-hover:
    hsla(246, 36%, 83%, 1);
    --clr-search-shadow: 
    hsla(175, 18%, 33%, 0.2);
    --clr-cover-shadow: 
    hsl(264, 26%, 19%);
    --clr-section-bg:
    hsl(234, 49%, 46%);

    --clr-link-filler:
    #fff6;
    --clr-link-filler-border:
    #fff7;
    --clr-link-grad-1:
    hsl(192, 67%, 61%);
    --clr-link-grad-2:
    hsl(210, 100%, 85%);

    /*ball section*/
    --clr-ball: 
    #fff;
    --clr-box-pressed:
    hsl(210, 100%, 85%);
    --clr-box-top:
    hsl(210, 72%, 68%);
    --clr-box-side: 
    hsl(215, 67%, 61%); /*primary - 6*/
    --clr-box-side-shadow: 
    hsl(215, 76%, 72%); /*primary - 18*/

    /*cube section*/
    --clr-cube: 
    #fff;

    /*button*/
    --clr-btn: 
    #fff;

    --from-brightness: .8;
    --to-brightness: 1;
    --hue: -20deg;
}

:root:has(#dark:checked) {
    /*main color*/
    --clr-primary:
    hsl(275, 72%, 68%);
    --clr-primary-light:
    hsl(275, 100%, 85%);
    --clr-primary-dark:
    hsl(275, 55%, 55%);
    --clr-secondary:
    hsl(249, 55%, 70%); /*primary - 26*/
    --clr-accent: 
    #fff;

    /*cover*/
    --clr-cover-grad-1:
    hsl(248, 37%, 20%);
    --clr-cover-grad-2:
    hsl(242, 25%, 30%); 
    --clr-cover-grad-3:
    hsl(242, 25%, 30%);
    --clr-cover-grad-4:
    hsl(240, 41%, 12%);

    --clr-sky-4:
    hsl(248, 37%, 20%);
    --clr-sky-3:
    hsl(249, 37%, 20%);
    --clr-sky-2:
    hsl(249, 25%, 37%);
    --clr-sky-1:
    hsl(269, 22%, 55%); 


    --clr-title-1:
    hsl(275, 72%, 73%);
    --clr-title-2:
    hsl(275, 55%, 60%);
    --clr-title-3:
    hsl(271, 76%, 58%); /*primary - 4*/
    --clr-title-shadow:
    transparent;
    
    --clr-search-button:
    hsl(242, 100%, 95%);
    --clr-search-button-hover:
    hsl(314, 36%, 83%);
    --clr-search-shadow: 
    hsla(240, 18%, 33%, 0.2);
    --clr-cover-shadow: 
    hsl(240, 26%, 19%);
    --clr-section-bg:
    #232323;

    --clr-link-filler:
    #0004;
    --clr-link-filler-border:
    #0007;
    --clr-link-grad-1:
    hsl(257, 67%, 61%);
    --clr-link-grad-2:
    hsl(275, 100%, 70%);

    /*ball section*/
    --clr-ball: 
    #fff;
    --clr-box-pressed:
    hsl(217, 10%, 40%);
    --clr-box-top:
    #393e46;
    --clr-box-side: 
    hsl(269, 60%, 60%); /*primary - 6*/
    --clr-box-side-shadow: 
    hsl(257, 60%, 60%); /*primary - 18*/

    /*cube section*/
    --clr-cube: 
    #eee;

    /*button*/
    --clr-btn: 
    #fff;

    --from-brightness: 1;
    --to-brightness: .85;
    --hue: 0deg;
}